.card-body {
  overflow: auto;
  .txt_day {
    //text-transform: capitalize;
  }
  .card-text {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

.card {
  .card-header {
    background-color: #bdd7ee;
    font-size: 18px;
    font-weight: bold;
  }
  .card-body {
    border: 1px solid #bdd7ee;
    background-color: #b4d8f71a;
    .card-text {
      .img-today {
        margin: 0px;
      }
      img {
        background-color: #bdd7ee;
        border-radius: 50%;
      }
    }
  }
}

.header-body {
  background-color: white !important;
}

