
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-4 mb-4 text-center">TEST NODE.JS Y ANGULAR (Open Weather)</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="card">
        <div class="card-header">
          Datos de ubicación
        </div>
        <div class="card-body">
          <ng-container *ngIf="!dataCharge">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>
          <ng-container *ngIf="dataCharge">
            <h6 class="card-title"><b>Ubicación: </b> {{ ubicationData.name }}</h6>
            <h6 class="card-title"><b>País: </b> {{ ubicationData.sys.country }}</h6>
            <h6 class="card-title"><b>IP: </b> {{ ipAddress }}</h6>
            <p class="card-text">
              <span *ngFor="let pronostico of ubicationData.weather">
                <b>Pronóstico: </b>{{ pronostico.description }} <img [src] = "'http://openweathermap.org/img/wn/'+pronostico.icon+'.png'" alt="Pronostico" class="img-today">
              </span>
            </p>
            <p>
              <b>Temperatura: </b>
              <br />
              Min: {{ ubicationData.main.temp_min }} °C
              <br />
              Max: {{ ubicationData.main.temp_max }} °C
            </p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Pronóstico para los próximos días
        </div>
        <div class="card-body header-body">
          <ng-container *ngIf="!showFiveDaysErrors && !isFiveDaysCharged;else showInfo">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>
          <ng-template #showInfo>
            <div class="row flex-nowrap">
                <div class="col-lg-3" *ngFor="let pronostico of dataForecast">
                  <div class="card mb-3">
                    <div class="card-body">
                      <p class="card-text text-center txt_day">
                        <b>{{ pronostico.dt_txt }}</b>
                      </p>
                      <p class="card-text">
                        <span *ngFor="let info of pronostico.weather">
                          <span class="text-center d-block text-capitalize">{{ info.description }}</span>
                          <br/>
                          <img [src] = "'http://openweathermap.org/img/wn/'+info.icon+'.png'" alt="Pronostico" class="img-fluid">
                        </span>
                      </p>
                      <p class="text-center">
                        Min: {{ pronostico.main.temp_min | number: '1.0-0' }} °C | Max: {{ pronostico.main.temp_max | number: '1.0-0' }} °C
                      </p>
                    </div>
                  </div>
                </div>
            </div>
          </ng-template>
          <ng-container *ngIf="showFiveDaysErrors">
            <div class="alert alert-danger" role="alert">
              {{ fiveDayserror }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
