.navbar {
  border-bottom: 2px solid #efefef;
  .navbar-collapse {
    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.navbar-light .navbar-nav .nav-link:hover {
  color:#0761b1;
}

