<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-4 mb-4 text-center">Pronostico por ciudad</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-2 text-center box">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="txt_ciudad">Elija la ciudad:</label>
          <select name="txt_ciudad" id="txt_ciudad" class="form-control select_ciudad" formControlName="city">
            <option value="">-- Seleccione --</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Beijing">Beijing</option>
            <option value="Berlin">Berlin</option>
            <option value="Madrid">Madrid</option>
            <option value="Bogota">Bogota</option>
            <option value="Caracas">Caracas</option>
          </select>
          <mat-error *ngIf="f.city.dirty && f.city.hasError('required')">Debe elegir una ciudad.</mat-error>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-md btn-primary" [disabled]="!form.valid" (click)="getCurrentByCity();">Ver Pronostico</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4" *ngIf="showResults">
      <div class="card">
        <div class="card-header">
          Datos de ubicación
        </div>
        <div class="card-body">
          <ng-container *ngIf="!isCharged && !showErrors">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>
          <ng-container *ngIf="isCharged && !showErrors">
            <h6 class="card-title"><b>Ubicación: </b> {{ dataByCity.name }}</h6>
            <h6 class="card-title"><b>País: </b> {{ dataByCity.sys.country }}</h6>
            <p class="card-text">
              <span *ngFor="let pronostico of dataByCity.weather">
                <b>Pronóstico: </b>{{ pronostico.description }} <img [src] = "'http://openweathermap.org/img/wn/'+pronostico.icon+'.png'" alt="Pronostico" class="img-today">
              </span>
            </p>
            <p>
              <b>Temperatura: </b>
              <br />
              Min: {{ dataByCity.main.temp_min }} °C
              <br />
              Max: {{ dataByCity.main.temp_max }} °C
            </p>
          </ng-container>
          <ng-container *ngIf="showErrors">
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showResults">
    <div class="col-lg-12">
      <h3 class="text-center mt-4 mb-4">Pronóstico para los próximos días</h3>
      <div class="card">
        <div class="card-header">
          {{ this.form.controls.city.value }}
        </div>
        <div class="card-body header-body">
          <ng-container *ngIf="!showFiveDaysErrors && !isFiveDaysCharged;else showInfo">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>
          <ng-template #showInfo>
            <div class="row flex-nowrap">
                <div class="col-lg-3" *ngFor="let pronostico of dataForecast">
                  <div class="card mb-3">
                    <div class="card-body">
                      <p class="card-text text-center txt_day">
                        <b>{{ pronostico.dt_txt }}</b>
                      </p>
                      <p class="card-text">
                        <span *ngFor="let info of pronostico.weather">
                          <span class="text-center d-block text-capitalize">{{ info.description }}</span>
                          <br/>
                          <img [src] = "'http://openweathermap.org/img/wn/'+info.icon+'.png'" alt="Pronostico" class="img-fluid">
                        </span>
                      </p>
                      <p class="text-center">
                        Min: {{ pronostico.main.temp_min | number: '1.0-0' }} °C | Max: {{ pronostico.main.temp_max | number: '1.0-0' }} °C
                      </p>
                    </div>
                  </div>
                </div>
            </div>
          </ng-template>
          <ng-container *ngIf="showFiveDaysErrors">
            <div class="alert alert-danger" role="alert">
              {{ fiveDayserror }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
